body {
  font-family: 'Hind', sans-serif;
}

html,
body {
  overflow: auto;
}

.box {
  padding: 35px;
  text-align: center;
}



.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

#video {
  width: 100%;
  height: 100%;
  position: centre;
  display: inline-block;
  text-align: center;
}

.yt {
  margin: auto;
}

#form-heading {
  font-family: 'Lato', sans-serif;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 49px;
  background: #fff;
  border-radius: 10px;
  width: 40%;
  position: relative;
  transition: all 3s ease-in-out;
  /* background-image: url('https://www.google.com/search?q=dance+doodle+for+bg+of+website&rlz=1C1CHBF_enIN898IN898&sxsrf=ALiCzsa3G4FMWEkK3KkxAw0_GqbLOFOKDw:1659609228161&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiIuIqU_qz5AhUAUvUHHfSGCJIQ_AUoAXoECAEQAw&biw=1536&bih=722&dpr=1.25#imgrc=e7Cm971yrcTM8M'); */
}


.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
  margin-left: 78px;

}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }




  .popup {
    width: 70%;
  }
}


body {
  margin: 0;
  padding: 0;
  background-color: #041418;
  /* background-blend-mode: lighten; */
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .6);
}

#intro {
  width: 80%;
  height: 60%;
  /* background-color: white; */
  color: #041418;
  /* align-items: center; */
  margin: auto;
}

.about {
  text-align: center;
  font-family: 'Hind', sans-serif;
  font-size: 160%;
  align-content: center;
  color: azure;
}

#background-video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#question {
  text-align: center;
  font-family: "Slabo 27px", serif;
  font-size: 240%;
  color: azure;
}


form {
  text-align: center;
  font-family: "Slabo 27px", serif;
  font-size: 140%;
  color: azure;
}

h1 {
  text-align: center;
  font-family: "Bree Serif", serif;
  font-size: 600%;
  margin-top: 5%;
  animation: glow 10s ease-in-out infinite alternate;
  color: #ffffff;
}

#pcontent {
  margin-left: 139px;
  margin-top: -30px;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 1px 2px 3px #111c51, 3px 2px 1px #0d2f8e,
      2px 3px 5px rgb(255, 255, 255), 4px 4px 3px rgb(29, 2, 66);
  }

  to {
    text-shadow: 1px 0px 4px #0e1d8f, 2px 2px 4px #040943, 2px 4px 2px rgb(25, 15, 45),
      1px 3px 1px rgb(255, 255, 255);
  }
}

@media (max-width:1260px) {
  .popup h2 {
    margin-left: 6px;
  }

  #pcontent {

    margin-left: 38px;
    margin-top: -30px;
    font-size: 25px;
  }
}

img {
  width: 25%;
  height: 25%;
  display: block;

  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

input {
  border: 5px rgb(255, 255, 255);
  -moz-box-shadow: 0px 0px 20px #f0e0dd;
  -webkit-box-shadow: 0px 0px 20px #dbcdca;
  box-shadow: 0px 0px 20px #d6cbc9;
  border-radius: 6px;
  box-sizing: border-box;
  width: 40%;
  padding: 12px 20px;
  margin: auto;
  margin-top: 1%;
  display: block;
  text-align: center;
  font-family: "Bree Serif", serif;
  font-size: 70%;
  transition: width 0.8s ease-in-out;
  color: #000000
}

input:hover {
  -moz-box-shadow: 0px 0px 20px #ff4d00;
  -webkit-box-shadow: 0px 0px 20px #ff4d00;
  box-shadow: 0px 0px 20px #ff4d00;
}

input[type="text"]:focus {
  width: 60%;
}

#link {
  display: block;
  margin-left: 44%;
  margin-top: 12px;
}

input,
label {
  display: block;
}

.button {
  border: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: "Bree Serif", serif;
  width: 100%;
  padding: 25px;
  margin-top: 2%;
  margin-bottom: 10%;
  font-size: 125%;
  text-align: center;
  -moz-box-shadow: 0px 0px 20px #ff6685;
  -webkit-box-shadow: 0px 0px 20px #ff6685;
  box-shadow: 0px 0px 20px #ff6685;
  border-radius: 44px;
  color: white;
}

.button:hover {
  -moz-box-shadow: 0px 0px 20px #f61067;
  -webkit-box-shadow: 0px 0px 20px #f61067;
  box-shadow: 0px 0px 20px #f61067;
}

.name,
.rollno,
.branch,
.phno,
.city {
  margin-bottom: 2.5%;
  font-size: 40px;
}

label {
  margin: 1%;
}

input {
  margin-bottom: 6%;
  padding: 8px 20px;
  opacity: 1;
}

.heading {
  align-items: center;
  margin-top: 20%;
  font-size: 450%;
  height: 100%;
}

.center {
  margin-left: 43%;
}

#video1,
#video2,
#video3 {
  width: 80%;
  height: 756px;
  margin: auto;
}

@media (max-width:3000px) {

  #video1,
  #video2,
  #video3 {
    height: 500px;
  }


  .popup h2 {
    margin-left: 6px;
  }

  #pcontent {

    margin-left: 38px;
    margin-top: -30px;
  }

  .popup h2 {
    margin-left: -43px;
  }
}

@media (max-width: 992px) {

  #video1,
  #video2,
  #video3 {
    height: 200px;
    width: 300px;
  }

  .yt{
    margin-left: 164px;
  }
  .popup h2 {
    font-size: 40px;
  }

  h1 {
    font-size: 300%;
  }

  html,
  body {
    box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 60%);
  }

  input {
    margin-bottom: 6%;
    padding: 8px 20px;
    opacity: 0.3;
  }

  .name,
  .rollno,
  .branch,
  .phno,
  .city {
    margin-bottom: 2.5%;
    font-size: 25px;
  }

  img {
    width: 40%;
    height: 40%;
  }

  .box {
    margin: auto;
  }

  .button {
    border: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Bree Serif", serif;
    width: 100%;
    padding: 18px 28px;
    margin-top: 2%;
    margin: auto;
    margin-bottom: 10%;
    font-size: 110%;
    text-align: center;
    -moz-box-shadow: 0px 0px 20px #ff6685;
    -webkit-box-shadow: 0px 0px 20px #ff6685;
    box-shadow: 0px 0px 20px #ff6685;
    border-radius: 44px;
    color: white;
  }

  #video {
    width: 80%;
    height: 350px;
    margin: auto;
  }

}

@media (max-width: 700px) {
  h1 {
    font-size: 200%;
  }

  .popup {
    width: 35%;
    height: 16%;
  }

  #pcontent p {
    font-size: 10px;
  }

  .yt{
     margin-left: 41px;;
  }
  
  #pcontent {
    margin-left: 10px;
    margin-top: -50px;
  }

  .video-responsive {
    box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 60%);
    min-height: 100%;
    min-width: 100%;
  }

  .about {
    text-align: center;
    font-family: 'Hind', sans-serif;
    font-size: 110%;
    align-content: center;
    color: azure;
  }

  .popup h2 {
    margin-left: -43px;
    margin-bottom: 19px;
    font-size: 25px;
  }

  html,
  body {
    box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 60%);
  }


  img {
    width: 40%;
    height: 40%;
  }

  input {
    margin-bottom: 6%;
    padding: 8px 20px;
    opacity: 0.3;
  }

  .name,
  .rollno,
  .branch,
  .phno,
  .city {
    margin-bottom: 2.5%;
    font-size: 20px;
  }

  .button {
    border: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Bree Serif", serif;
    width: 100%;
    padding: 10px 20px;
    margin-top: 4%;
    margin: auto;
    margin-bottom: 10%;
    font-size: 50%;
    text-align: center;
    -moz-box-shadow: 0px 0px 20px #ff6685;
    -webkit-box-shadow: 0px 0px 20px #ff6685;
    box-shadow: 0px 0px 20px #ff6685;
    border-radius: 44px;
    color: white;
  }
}
